<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Livro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nome do Livro</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Autor(a)</ion-label>
    <ion-input [(ngModel)]="autor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sinopse</ion-label>
    <ion-textarea [(ngModel)]="sinopse"></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="salvarLivro()">Salvar</ion-button>

  <ion-list>
    <ion-item *ngFor="let livro of livros">
      <ion-label>
        <h2>{{ livro.nome }} (ID: {{ livro.id }})</h2>
        <p><strong>Autor:</strong> {{ livro.autor }}</p>
        <p><strong>Sinopse:</strong> {{ livro.sinopse }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>